.card--block {
	background: #def6f8;
	color: primary;
	border: none;
	.card-body, .card-header, .block-title {
		background: #def6f8;
		color: $primary;

	}
}

.card__inactive {
	opacity: 0.5;
}

.card__active {
	// border: 2px solid $secondary;
}