.countdown {
	display: flex;
	width: 14rem;
	flex-flow: row nowrap;
	justify-content: flex-end;

	.countdown--block {
		border: 2px solid $secondary;
		font-size: 1.6rem;
		color: $primary;
		background: white;
		// border: 2px solid;
	}
	.text {
		text-align: center;
	}
	.digit {
		margin: 4px;
	}
		
}

