.hidden {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.clickable {
	cursor: pointer;
}

span.selectable {
	display: inline-block;
	padding: .5rem 1rem;
	color: black;
	transition: all .5s;
}

span.selectable--active {
	background: rgba($green, 0.4);
	margin: .5rem;
}
span.selectable--active:hover {
	background: rgba($green, 0.6);
}

span.selectable--passive {
	background: rgba($red, 0.4);
	margin: .5rem;
}
span.selectable--passive:hover {
	background: rgba($red, 0.6);
}