.hidden {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.clickable {
	cursor: pointer;
}


.hidden-child {
	opacity: 0;
	transform: all .5s;
}
.reveal-hidden-child:hover > .hidden-child {
	opacity: 1;
}

span.selectable {
	display: inline-block;
	padding: .5rem 1rem;
	color: black;
	transition: all .5s;
}

span.selectable--active {
	background: rgba($secondary, 0.4);
	margin: .5rem;
}
span.selectable--active:hover {
	background: rgba($secondary, 0.6);
}

span.selectable--passive {
	background: rgba($gray-500, 0.4);
	margin: .5rem;
}
span.selectable--passive:hover {
	background: rgba($gray-500, 0.6);
}

.position-right {
	right: 0;
}
.position-top {
	top: 0;
}
.position-left {
	left: 0;
}
.position-bottom {
	bottom: 0;
}