.footer {
	background: theme-color("primary");
	color: #eee;
	margin-top: 5rem;
	li {
		list-style: none;
	}
}

.footercol__highlight {
	background: theme-color("secondary");
	// margin-top: -10rem;
}