nav.navbar {
	// margin-bottom: 0;
	// border-bottom: 0;
	.brand-title {
		// font-size: 1.4rem;
	}
	ul.navbar-nav {
		flex-direction: row-reverse;
	}
}

.nav-tabs__login {
	margin-top: 4rem;
	border-bottom: none;
	.nav-item {
		z-index: 10;
		margin-left: -1px;
	}
}