.rangeslider--container {
	margin: 1rem 0;
	.rangeslider--directinput {
		> div {
			display: inline-block;
			position: relative;
		}
		.directinput {
			padding: 1.3rem;
			margin: .6rem -0.7rem;
			border-radius: .5rem;
			vertical-align: top;
			user-select: none;
		}
		.directinput--minus {
			color: $danger;
			background: rgba($danger, 0.3);

		}
		.question--answer {
			border: 2px solid $secondary;
			padding: 1rem 2rem;
			background: white;
			border-radius: 0;
			z-index: 10;
		}
		.directinput--plus {
			color: $success;
			background: rgba($success, 0.3);

		}
	}
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 7.85px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 7.3px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	background: $secondary;
	border-radius: 25px;
	border: 1.2px solid rgba(1, 1, 0, 0.32);
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0.9px 0.9px 0px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
	border: 0.5px solid rgba(0, 0, 0, 0.31);
	height: 23px;
	width: 23px;
	border-radius: 50px;
	background: $primary

;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	  background: $secondary;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 7.3px;
	cursor: pointer;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
	background: $secondary;
	border-radius: 25px;
	border: 1.2px solid rgba(1, 1, 0, 0.32);
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0.9px 0.9px 0px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
	border: 0.5px solid rgba(0, 0, 0, 0.31);
	height: 23px;
	width: 23px;
	border-radius: 50px;
	background: $primary;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 7.3px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: rgba(0, 0, 104, 0);
	border: 1.2px solid rgba(1, 1, 0, 0.32);
	border-radius: 50px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
	background: $secondary;
	border: 1.2px solid rgba(1, 1, 0, 0.32);
	border-radius: 50px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
	box-shadow: 0.9px 0.9px 0px rgba(0, 0, 0, 0), 0px 0px 0.9px rgba(13, 13, 13, 0);
	border: 0.5px solid rgba(0, 0, 0, 0.31);
	height: 23px;
	width: 23px;
	border-radius: 50px;
	background: $primary;
	cursor: pointer;
	height: 7.3px;
}
input[type=range]:focus::-ms-fill-lower {
	background: $secondary;
}
input[type=range]:focus::-ms-fill-upper {
	background: rgba(135, 135, 255, 0);
}



.resultslider {
	height: 0.8rem;
	background: rgba(255, 0, 0, 0.42);
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.38);
	margin-top: .4rem;
	&.average {
		background: rgba(255, 0, 0, 0.42);
		margin-top: 0;
	}
	.resultslider--result {
		height: 100%;
		// background: darken($secondary, 20);
		background: $secondary;
	}
}

.resultstable--row--average {
	// border-bottom: 1px solid $wrong;
 //    margin-bottom: 0.7rem !important;
	.resultslider--result {
		background: #773086;
	}
}



.question--answer {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: $gray-600;
}

.average {
	color: $secondary;
	font-weight: 800;
}

input[type=range]:disabled::-ms-thumb {
	background: $gray-400;
	cursor: auto;
}
input[type=range]:disabled::-webkit-slider-thumb {
	background: $gray-400;
	cursor: auto;
}
input[type=range]:disabled::-moz-range-thumb {
	background: $gray-400;
	cursor: auto;
}