.table__results {
	.resultstable--row--average, .resultstable--row--questions {
		background: rgba($secondary, .15);
	}
	.resultstable--row--questions{
	}
	.resultstable--row--average {
		padding-top: .2rem;
		padding-bottom: .7rem;
		margin-bottom: .5rem;
		border-top: 1px solid rgba($primary, .3);
	}
}