// Base colors
$theme-colors: (
	primary: 			#1C154B,
	secondary: 	 		#008390,
	success: 		 	#119822,
	info: 		 		#98C1D9,
	warning: 		 	#f6e84d,
	danger: 		 	#D33F49
);

$primary: 			#1C154B;
$secondary: 	 	#008390;
$success: 		 	#119822;
$info: 		 		#98C1D9;
$warning: 		 	#f6e84d;
$danger: 		 	#D33F49;

