// Base colors
$theme-colors: (
	primary: 			#1C154B,
	secondary: 	 		#008390,
	success: 		 	#119822,
	info: 		 		#98C1D9,
	warning: 		 	#f6e84d,
	danger: 		 	#D33F49
);

$primary: 			#1C154B;
$secondary: 	 	#008390;
$success: 		 	#119822;
$info: 		 		#98C1D9;
$warning: 		 	#f6e84d;
$danger: 		 	#D33F49;
$wrong:				#C8202B;

$secondary-light: 	#def6f8;

$instantietype-1:		#3ab5dd;
$instantietype-2:		#DF2715;
$instantietype-3:		#841951;
$instantietype-4:		#CB5393;