.welcome {
	img {
		// border: 50px black;
		// display: block;
		// height: 17rem;
		// padding-left: 20rem;
		// padding-top: 2rem;
	}
}

.intro-block {
	// background: #46bbc34f;
    // margin-top: 2rem;
    margin-left: 150px;
    margin-right: -50px;
    margin-bottom: 50px;
    > div {
    	margin-left: -150px;
    }
}